/*

Project: BooSign | Responsive Bootstrap One Page HTML Template
Author : Alex Ashihmin

[Table of contents]

    1.  General
    2.  Header
        2.1 Logo

    3.  Content
    4.  Home
    5.  About Us
    6.  Achievements
    7.  Services
    8.  Quote
    9.  Team
    10. Advertising
    11. Portfolio
    12. Testimonials
    13. Pricing tables
    14. Contacts
    15. Footer

    Media queries - /assets/css/style-responsive.css

    Color Options - /assets/css/theme/

*/

/*------------------------------------*\

    1.  General

\*------------------------------------*/

body
{
    background:  #fff;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:   16px;
    color:       #707478;
}

h1, h2, h3, h4
{
    font-weight:   400;
    margin-top:    0;
    margin-bottom: 15px;
    line-height:   1.25;
    color:         #1d1e1f;
}

p
{
    line-height: 20px;
	text-align:justify;
}

a
{
    transition:         all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition:    all .2s linear;
}

.btn:active:focus, .btn:focus, a:focus
{
    outline: 0;
}

.btn, label
{
    font-weight: 400;
}

.row
{
    margin: 0 -10px;
}

.row > [class*=col-]
{
    padding: 0 10px;
}

.row.row-space-10
{
    margin: 0 -5px;
}

.row.row-space-10 > [class*=col-]
{
    padding: 0 5px;
}

.text-center
{
    text-align: center !important;
}

.text-left
{
    text-align: left !important;
}

.bg-silver
{
    background: #f4f6f7 !important;
}

.fade
{
    opacity:            0;
    -webkit-transition: opacity .3s linear;
    transition:         opacity .3s linear;
}

.btn
{
    padding:       15px 30px;
    font-size:     16px;
    border-radius: 5px;
}

.btn.btn-outline
{
    color:        #fff;
    border-width: 2px;
    border-color: #8F8E8E;
    background:   0 0;
}

.btn.btn-outline:focus, .btn.btn-outline:hover
{
    border-color: #fff;
}

.btn-block
{
    padding-left:  12px;
    padding-right: 12px;
}

.btn:active
{
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .1);
    box-shadow:         inset 0 3px 5px rgba(0, 0, 0, .1);
}

.nav > li > a
{
    color: #6e7179;
}

.nav > li > a:focus, .nav > li > a:hover
{
    color:      #333;
    background: #fafafa;
}

.contentAnimated
{
    -webkit-animation-duration:  1.5s;
    animation-duration:          1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode:         both;
}

.finishAnimated
{
    -webkit-animation: none !important;
    animation:         none !important;
}

.alert
{
    position:      fixed;
    top:           0;
    left:          0;
    width:         100%;
    font-size:     16px;
    padding:       25px 15px;
    text-align:    center;
    color:         #fff;
    border-radius: 0;
}

.alert.in
{
    z-index: 1050;
}

/*------------------------------------*\

    2.  Header

\*------------------------------------*/

.header.navbar
{
    border-bottom:      none;
    margin-bottom:      0;
   
    text-align:         center;
    box-shadow:         inset 0 100px 80px -80px rgba(0, 0, 0, .6);
    -webkit-box-shadow: inset 0 100px 80px -80px rgba(0, 0, 0, .6);
    -webkit-transition: all .2s linear;
    transition:         all .2s linear;
}

.header.navbar .navbar-nav > li > a
{
    font-size:   14px;
    line-height: 20px;
    color:       #fff;
    font-weight: 700;
    padding:     25px 15px;
}

.header.navbar .navbar-nav > li.active > a,
.header.navbar .navbar-nav > li > a:focus,
.header.navbar .navbar-nav > li > a:hover
{
    background: 0 0;
}

.header .navbar-brand
{
    padding: 15px 15px;
}

.navbar-toggle
{
    margin-top:         18px;
    margin-bottom:      18px;
    border-color:       #8F8E8E;
    -webkit-transition: all .2s linear;
    transition:         all .2s linear;
}

.navbar-toggle .icon-bar
{
    background: #fff;
}

.header.navbar .brand-text
{
    color: #fff;
}

.header.navbar.navbar-small
{
    border-bottom:      none;
    background:         #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow:         0 1px 2px rgba(0, 0, 0, .2);
}

.header.navbar.navbar-small .navbar-brand,
.header.navbar.navbar-small .navbar-nav > li > a
{
    color:   #2d353c;
    padding: 15px;
}

.header.navbar.navbar-small .brand-text
{
    color: #2d353c;
}

.navbar-small .navbar-toggle
{
    border-color:  #ddd;
    margin-top:    8px;
    margin-bottom: 8px;
}

.navbar-small .navbar-toggle .icon-bar
{
    background: #888;
}

/*------------------------------------*\

    2.1  Logo

\*------------------------------------*/

.brand-text
{
    color:       #2d353c;
    font-size:   20px;
    font-weight: 700;
    display:     block;
}

.brand-text .text-theme
{
    position:       relative;
    font-size:      30px;
    font-weight:    900;
    margin:         0 15px;
    vertical-align: bottom;
}

.brand-text .text-theme:before
{
    content:       '';
    position:      absolute;
    top:           0;
    left:          -10px;
    width:         38px;
    height:        38px;
    border-radius: 3px;
}

/*------------------------------------*\

    3.  Content

\*------------------------------------*/

.content
{
    padding: 70px 15px 75px;
}

.content .content-title
{
    text-align:    center;
    position:      relative;
    margin-bottom: 30px;
    margin-top:    0;
}

.content .content-desc
{
    text-align:    center;
    margin-bottom: 60px;
    color:         #1d1e1f;
}

.content.bg .container .content-title,
.content.bg h1,
.content.bg h2,
.content.bg h3,
.home
{
    color: #fff;
}

.content.bg
{
    padding-bottom: 70px;
    overflow:       hidden;
    position:       relative;
}

.content.bg .content-bg,
.content.bg .content-bg:before
{
    position: absolute;
    top:      0;
    bottom:   0;
    left:     0;
    right:    0;
}

.content.bg .content-bg:before
{
    content:    '';
    background: rgba(0, 0, 0, 0.2);
}

.content.bg .container
{
    position: relative;
}

.content.bg .content-bg img
{
    max-width: 100%;
}

/*------------------------------------*\

    4.  Home

\*------------------------------------*/

.home
{
    padding: 0 !important;
    height:  100vh;
}

.home-content
{
    z-index:    1020;
    position:   absolute;
    top:        50%;
    left:       0;
    right:      0;
    color:      #FFFFFF;
    margin-top: -120px;
    padding:    0 15px;
    text-align: center;
}

.home-content h1, .home-content h3
{
    color:       #fff;
    margin:      0 0 30px;
    font-weight: 400;
}

.home-content h1
{
    font-size:   64px;
    font-weight: 700;
}

.home-content h3
{
    font-size: 32px;
}

.home-content p
{
    margin-bottom: 60px;
}

.home-content a:focus, .home-content a:hover
{
    color: #fff;
}

.home-content .btn
{
    margin: 5px;
}

/*------------------------------------*\

    5.  About Us

\*------------------------------------*/

.skills .skills-name
{
    font-size:     14px;
    color:         #1d1e1f;
    margin-bottom: 5px;
    font-weight:   700;
}

.progress
{
    border-radius:      15px;
    height:             15px;
    overflow:           visible;
    background:         #e2e7eb;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

.progress .progress-bar
{
    border-radius:      15px;
    position:           relative;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

.progress .progress-bar .progress-number
{
    position:      absolute;
    right:         0;
    bottom:        100%;
    background:    #333;
    padding:       2px 6px 1px;
    border-radius: 4px;
    margin-bottom: 5px;
    display:       block;
    line-height:   16px;
}

.progress .progress-bar .progress-number:before
{
    content:          '';
    position:         absolute;
    left:             50%;
    margin-left:      -5px;
    bottom:           -10px;
    border:           5px solid transparent;
    border-top-color: #333;
}

.progress.progress-striped .progress-bar
{
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size:  40px 40px;
}

/*------------------------------------*\

    6.  Achievements

\*------------------------------------*/

.achievements
{
    text-align: center;
}

.achievements-col + .achievements-col
{
    border-left: 1px solid rgba(255, 255, 255, .2);
}

.achievements .number
{
    font-size:   60px;
    font-weight: 400;
    color:       #fff;
}

.achievements .title
{
    color: #fff;
}

/*------------------------------------*\

    7.  Services

\*------------------------------------*/

.service
{
    margin-bottom: 30px;
    text-align:    center;
}

.service .icon
{
    height:        80px;
    width:         80px;
    line-height:   80px;
    background:    #1d1e1f;
    color:         #fff;
    font-size:     32px;
    margin:        0 auto 10px;
    border-radius: 80px;
}

.service .title
{
    margin-bottom: 5px;
}

/*------------------------------------*\

    8.  Quote

\*------------------------------------*/

.quote
{
    text-align:  center;
    font-size:   28px;
    font-weight: 400;
    color:       #fff;
    color:       rgba(255, 255, 255, .9);
}

.quote .fa-quote-left, .quote .fa-quote-right
{
    color:     #fff;
    font-size: 14px;
    position:  relative;
    top:       -14px;
}

.quote small
{
    display:    block;
    font-size:  14px;
    color:      rgba(255, 255, 255, .6);
    margin-top: 20px;
}

/*------------------------------------*\

    9.  Team

\*------------------------------------*/

.team
{
    text-align: center;
    padding:    0 30px;
}

.team .image, .team .social a
{
    display: inline-block;
}

.team .image
{
    overflow: hidden;
}

.team .image img
{
    border-radius: 300px;
    width:         200px;
}

.team .info
{
    margin-top: 15px;
}

.team .name
{
    margin-bottom: 5px;
}

.team .title, .team p
{
    margin-bottom: 15px;
}

.team .title
{
    font-size:   14px;
    font-weight: 700;
}

.team .social a
{
    border:      1px solid #ccc;
    padding:     5px;
    width:       40px;
    height:      40px;
    line-height: 28px;
    text-align:  center;
    color:       #ccc;
}

.team .social a + a
{
    margin-left: 5px;
}

/*------------------------------------*\

    10.  Advertising

\*------------------------------------*/

#advertising
{
    padding: 30px 0;
}

.advertising div
{
    text-align: center;
}

.advertising img
{
    max-width: 90%;
    padding:   20px 0;
}

/*------------------------------------*\

    11.  Portfolio

\*------------------------------------*/

.portfolio
{
    position:      relative;
    overflow:      hidden;
    margin-bottom: 10px;
}

.portfolio:focus .desc, .portfolio:hover .desc
{
    margin-top: -62px;
}

.portfolio .image a
{
    display: block;
}

.portfolio .image img
{
    width:   100%;
    display: block;
}

.portfolio .desc
{
    padding:            12px 15px;
    position:           absolute;
    right:              0;
    left:               0;
    top:                100%;
    background:         rgba(0, 0, 0, .7);
    -webkit-transition: all .2s linear;
    transition:         all .2s linear;
}

.portfolio .desc .desc-title
{
    color:       #fff;
    font-size:   14px;
    display:     block;
    font-weight: 700;
}

.portfolio .desc .desc-text
{
    font-size: 14px;
    color:     #ccc;
    display:   block;
}

.filtr-container
{
    -webkit-transition: height 0.5s ease-out;
    transition:         height 0.5s ease-out;
}

.btn-filter
{
    padding: 5px 15px;
    margin:  0 5px 10px 0;
}

.btn-filter-group .btn-filter:last-child
{
    margin-right: 0;
}

/*------------------------------------*\

    12.  Testimonials

\*------------------------------------*/
.testimonials-bg {
    background: url('../img/client-bg.jpg') no-repeat top center;
}

.testimonials
{
    padding-bottom: 50px;
}

.testimonials .item
{
    padding-top: 15px;
}

.testimonials .carousel-indicators
{
    bottom: 0;
}

.testimonials blockquote
{
    border:        none;
    text-align:    center;
    color:         #fff;
    position:      relative;
    font-weight:   400;
    margin-bottom: 15px;
}

.testimonials blockquote .fa-quote-left, .testimonials blockquote .fa-quote-right
{
    font-size:   22px;
    position:    absolute;
    margin-left: 15px;
    margin-top:  15px;
    color:       #8F8E8E;
}

.testimonials blockquote .fa-quote-left
{
    margin-left: -30px;
    margin-top:  -15px;
}

.testimonials .name
{
    color:         #fff;
    font-size:     14px;
    margin-bottom: 15px;
}

.testimonials .name span
{
    margin-left: 5px;
}

.testimonials .carousel-indicators li
{
    background:         rgba(255, 255, 255, .4);
    border:             none;
    -webkit-transition: all .2s linear;
    transition:         all .2s linear;
}

.testimonials .carousel-indicators li:focus, .testimonials .carousel-indicators li:hover
{
    background: rgba(255, 255, 255, .7);
}

.testimonials .carousel-indicators li.active
{
    background: #fff;
}

.carousel-indicators li, .carousel-indicators li.active
{
    width:  12px;
    height: 12px;
    margin: 1px 3px;
}

/*------------------------------------*\

    13.  Pricing tables

\*------------------------------------*/

.pricing-tables .btn,
.pricing-tables .navbar > li > a.btn
{
    border:             none;
    border-radius:      3px;
    position:           relative;
    padding:            12px 30px;
    margin:             10px 1px;
    font-size:          14px;
    font-weight:        400;
    text-transform:     uppercase;
    letter-spacing:     0;
    will-change:        box-shadow, transform;
    -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                        -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition:         background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                        -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition:         box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
                        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition:         box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
                        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                        -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.pricing-tables .btn
{
    border-radius: 30px;
}

/* btn-white */
.pricing-tables .btn.btn-white
{
    color:              #3C4857;
    background-color:   #fff;
    border-color:       #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
                        0 3px 1px -2px rgba(153, 153, 153, 0.2),
                        0 1px 5px 0 rgba(153, 153, 153, 0.12);
    box-shadow:         0 2px 2px 0 rgba(153, 153, 153, 0.14),
                        0 3px 1px -2px rgba(153, 153, 153, 0.2),
                        0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.pricing-tables .btn.btn-white:focus,
.pricing-tables .btn.btn-white:active,
.pricing-tables .btn.btn-white:hover
{
    -webkit-box-shadow: 0 14px 26px -12px rgba(255, 255, 255, 0.42),
                        0 4px 23px 0px rgba(255, 255, 255, 0.12),
                        0 8px 10px -5px rgba(255, 255, 255, 0.2);
    box-shadow:         0 14px 26px -12px rgba(255, 255, 255, 0.42),
                        0 4px 23px 0px rgba(255, 255, 255, 0.12),
                        0 8px 10px -5px rgba(255, 255, 255, 0.2);
}

.pricing-tables .bs
{
    display:            inline-block;
    position:           relative;
    width:              100%;
    margin-bottom:      30px;
    border-radius:      6px;
    color:              #444;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                        0 3px 1px -2px rgba(0, 0, 0, 0.2),
                        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow:         0 2px 2px 0 rgba(0, 0, 0, 0.14),
                        0 3px 1px -2px rgba(0, 0, 0, 0.2),
                        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.pricing-tables .highlight,
.pricing-tables .highlight h3
{
    color: #fff;
}

.pricing-tables .bs-background-img:after
{
    position:         absolute;
    z-index:          1;
    width:            100%;
    height:           100%;
    display:          bs;
    left:             0;
    top:              0;
    content:          "";
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:    6px;
}

.pricing-tables .bs-pricing
{
    text-align: center;
    position:   relative;
}

.pricing-tables .bs-pricing .bs-caption
{
    margin-top: 30px;
    font-size:  32px;
}

.pricing-tables .bs-pricing .cotent
{
    padding:       15px;
    margin-bottom: 0px;
    z-index:       2;
    position:      relative;
}

.pricing-tables .bs-pricing ul
{
    list-style: none;
    padding:    0;
    margin:     10px auto;
}

.pricing-tables .bs-pricing ul li
{
    text-align: center;
    padding:    12px 0;
}

.pricing-tables .bs-pricing ul:not(.nav-pills) li
{
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.pricing-tables .bs-pricing.highlight ul:not(.nav-pills) li
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/*------------------------------------*\

    14.  Contacts

\*------------------------------------*/
.form-control
{
    border:                2px solid #ccd0d4;
    -webkit-box-shadow:    none;
    box-shadow:            none;
    font-size:             14px;
    border-radius:         3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
}

.form-control:focus
{
    border-color:       #9fa2a5;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

/*------------------------------------*\

    15.  Footer

\*------------------------------------*/

.navbar {
   min-height: 80px;
   
}
.nav{
	margin-top: 17px;}


.footer
{
    padding:            30px 0;
    background:         #1d1e1f;
    text-align:         center;
    box-shadow:         inset 0 100px 80px -80px rgba(0, 0, 0, .7);
    -webkit-box-shadow: inset 0 100px 80px -80px rgba(0, 0, 0, .7);
}

.footer .social-list
{
    margin:    0px 0 0;
    font-size: 20px;
}
.no-pad{
	
	padding:0 30px 0 0 !important;
}