.btn.btn-theme,
.btn-filter.btn-active
{
    background:   #5bb12f;
    border-color: #5bb12f;
    color:        #fff;
}

.btn.btn-theme:hover,
.btn.btn-theme:focus
{
    background:   #4e9b2a;
    border-color: #4e9b2a;
}

.header.navbar .navbar-nav > li.active > a,
.header.navbar .navbar-nav > li > a:hover,
.header.navbar .navbar-nav > li.active > a,
.header.navbar .navbar-nav > li > a:hover,
.header.navbar.navbar-small .navbar-nav > li.active > a,
.header.navbar.navbar-small .navbar-nav > li > a:hover,
.pricing-table .price .price-number,
a
{
    color: #efa80f;
}

a:hover,
a:focus
{
    color: #4e9b2a;
}

.text-theme:before
{
    border: 3px solid #5bb12f;
}

.progress-bar
{
    background: #5bb12f;
}

.service .icon
{
    background: #5bb12f;
}

.team .social a:hover
{
    border: 1px solid #5bb12f;
    color:  #5bb12f;
}

.advertising .icon-large i
{
    color: #5bb12f;
}

/* btn-action */
.pricing-tables .btn.btn-action
{
    color:            #fff;
    background-color: #5bb12f;
    border-color:     #5bb12f;
    box-shadow:       0 2px 2px 0 rgba(91, 177, 47, 0.14),
                      0 3px 1px -2px rgba(91, 177, 47, 0.2),
                      0 1px 5px 0 rgba(91, 177, 47, 0.12);
}

.pricing-tables .btn.btn-action:focus,
.pricing-tables .btn.btn-action:active,
.pricing-tables .btn.btn-action:hover
{
    box-shadow: 0 14px 26px -12px rgba(91, 177, 47, 0.42),
                0 4px 23px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(91, 177, 47, 0.2);
}

.highlight
{
    background-color: #5bb12f;
}

.alert
{
    background: #5bb12f;
}

.masonry-container .thumbnail:hover,
.masonry-container .thumbnail:focus
{
    border: 1px solid #5bb12f;
}

.masonry-container .thumbnail:before
{
    background: rgba(91, 177, 47, 0.8);
}

.masonry-container .thumbnail .date-rating span i
{
    color: #5bb12f;
}

.sidebar .list-group .badge
{
    background: #5bb12f;
}

.sidebar .label,
.post-footer .label
{
    border: 0px solid #5bb12f;
    color:  #fff;
	background-color:#e04f67;
	font-size:15px;
	padding:10px 40px;
}

.sidebar .label:hover,
.post-footer .label:hover
{
    background: #5bb12f;
}

#back-to-top
{
    color: #5bb12f;
}

.post-content blockquote
{
    border-color: #5bb12f;
}

.post-content p:first-letter
{
    color: #5bb12f;
}